<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="shortcut icon" href="/favicon/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/style/main.css" />
    <link rel="stylesheet" href="/style/flowbite.min.css" />
    <script src="/scripts/axios.min.js"></script>
    <script src="/scripts/sweetalert.min.js"></script>
    <script src="/scripts/apexcharts.js"></script>
    <script src="/scripts/moment.min.js"></script>
    <script src="/scripts/global.js"></script>
  </head>
  <body class="dark:bg-gray-800">
    <div class="antialiased bg-gray-50 dark:bg-gray-900">
      <%- include('main-layout-nav.ejs') %> <%- include('main-layout-aside.ejs') %>
      <main class="p-4 md:ml-64 h-auto pt-20"><%- body %></main>
    </div>
    <script src="/scripts/flowbite.min.js"></script>
    <script>
      const logOut = async () => {
        await axios.delete('/api/auth')

        try {
          await Swal.fire({
            title: 'Berhasil!',
            text: 'Anda berhasil keluar',
            icon: 'success',
            confirmButtonText: 'Oke!',
            timer: 2000,
            timerProgressBar: true
          })
          window.location.reload()
        } catch (error) {
          const errMessage = error.response.data.message

          await Swal.fire({
            title: 'Error!',
            text: errMessage,
            icon: 'error',
            confirmButtonText: 'Tutup'
          })
        }
      }
    </script>
  </body>
</html>
