<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="shortcut icon" href="/favicon/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/style/flowbite.min.css" />
    <link rel="stylesheet" href="/style/main.css" />
    <script src="/scripts/axios.min.js"></script>
    <script src="/scripts/sweetalert.min.js"></script>
    <script src="/scripts/global.js"></script>
  </head>
  <body class="p-4">
    <%- body %>
    <script src="/scripts/flowbite.min.js"></script>
    <script>
      const htmlEl = document.querySelector('html')
      const isThemeSet = localStorage.getItem('theme')
      if (!isThemeSet) {
        localStorage.setItem('theme', null)
      }
      const setTheme = () => {
        const getThemeInfo = localStorage.getItem('theme')

        if (getThemeInfo === 'dark') {
          htmlEl.classList.add('dark')
        } else {
          htmlEl.classList.remove('dark')
        }
      }
      setTheme()
      const changeTheme = () => {
        const themeInfo = localStorage.getItem('theme')
        if (themeInfo !== 'dark') {
          localStorage.setItem('theme', 'dark')
        } else {
          localStorage.setItem('theme', null)
        }
        setTheme()
      }
    </script>
  </body>
</html>
