<section class="dark:bg-gray-900 flex flex-col gap-4">
  <div class="content_container">
    <h2 class="subhead">Ubah Akun</h2>
    <form id="form-account" class="main_form">
      <div class="grid gap-4 sm:grid-cols-2 sm:gap-6">
        <div class="sm:col-span-1">
          <label for="account-id">ID Akun</label>
          <input type="text" id="account-id" placeholder="Masukan ID akun" required="" />
        </div>
        <div class="sm:col-span-1">
          <label for="new-password">Password Baru</label>
          <input type="password" id="new-password" placeholder="Masukan password baru" required="" />
        </div>
        <div class="sm:col-span-1">
          <label for="conf-password">Konfirmasi Password Baru</label>
          <input type="password" id="conf-password" placeholder="Masukan password baru sekali lagi" required="" />
        </div>
      </div>
      <button type="submit">Ubah</button>
    </form>
  </div>
</section>
<script>
  document.addEventListener('DOMContentLoaded', async () => {
    // FORM STUFF
    const formAccount = document.querySelector('#form-account')
    formAccount.addEventListener('submit', async (e) => {
      e.preventDefault()
      const accountId = formAccount.querySelector('#account-id').value
      const newPassword = formAccount.querySelector('#new-password').value
      const confPassword = formAccount.querySelector('#conf-password').value

      const { isConfirmed } = await Swal.fire({
        title: 'Yakin reset password?',
        icon: 'question',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Ubah'
      })

      if (isConfirmed) {
        try {
          const payload = {
            accountId,
            newPassword
          }
          if (newPassword !== confPassword) {
            await Swal.fire({
              title: 'Error!',
              text: 'Password dan Konfirmasi Password tidak sama!',
              icon: 'error',
              confirmButtonText: 'Tutup'
            })
            return
          }
          await axios.patch('/api/sudo/admin/credential', payload)
          await Swal.fire({
            title: 'Berhasil!',
            text: 'Anda berhasil reset password',
            icon: 'success',
            confirmButtonText: 'Oke!'
          })
          location.reload()
        } catch (error) {
          const errMessage = error.response.data.message
          await Swal.fire({
            title: 'Error!',
            text: errMessage,
            icon: 'error',
            confirmButtonText: 'Tutup'
          })
        }
      }
    })
  })
</script>
